<div class="new-incident-container">
  <div class="content">
    <section>
      <img src="assets/logo.svg" alt="Logo" />

      <h1>Cadastrar novo caso</h1>
      <p>Descreva o caso detalhadamente para encontrar um herói para resolver isso.</p>

      <a [routerLink]="['/profile']" class="back-link">
        <i-feather name="arrow-left" class="icone" style="height: 16px;"></i-feather>
        Voltar para o perfil
      </a>
    </section>

    <form [formGroup]="formIncident" (submit)="handleSubmit($event)">
      <app-text-input 
        [fc]="f.title" 
        type="text" 
        placeholder="Título do caso"
        [isInvalid]="submitted && f.title.invalid">
      </app-text-input>

      <app-text-area
        placeholder="Descrição"
        [fc]="f.description"
        [isInvalid]="submitted && f.description.invalid"
      >
      </app-text-area>

      <app-text-input 
        [fc]="f.value" 
        type="text" 
        placeholder="Valor em reais"
        [isInvalid]="submitted && f.value.invalid">
      </app-text-input>

      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>