<div class="login-container">
  <section class="form">
    <img src="assets/logo.svg" alt="Logo">

    <form  [formGroup]="form" (submit)="handleLogin($event)">
      <h1>Faça seu login</h1>

      <app-text-input
        type="text"
        placeholder="Sua ID"
        [fc]="f.id"
        [isInvalid]="submitted && f.id.invalid">
      </app-text-input>

      <app-submit-button
        text="Entrar">
      </app-submit-button>

      <a [routerLink]="['/register']" class="back-link">
        <i-feather name="log-in" class="icone" style="height: 16px;"></i-feather>
        Não tenho cadastro
      </a>
    </form>
  </section>
  <img src="assets/heroes.png" alt="Be The Hero" />
</div>
