<div class="register-container">
  <div class="content">
    <section>
      <img src="assets/logo.svg" alt="Logo">

      <h1>Cadastro</h1>
      <p>Faça seu cadastro, entre na plataforma e ajude pessoas a econtrarem os casos da sua ONG.</p>

      <a [routerLink]="['/']" class="back-link">
        <i-feather name="arrow-left" class="icone" style="height: 16px;"></i-feather>
        Já tenho cadastro
      </a>
    </section>

    <form [formGroup]="form" (ngSubmit)="handleRegister()">
      <app-text-input 
        formControlName="name" 
        type="text" 
        placeholder="Nome da ONG">
      </app-text-input>
      <!-- <input 
        type="text"
        placeholder="Nome da ONG"
        formControlName="name"
      /> -->
      <input 
        type="email"
        placeholder="E-mail"
        formControlName="email"
      />
      <input 
        type="text"
        placeholder="Whatsapp"
        formControlName="whatsapp"
      />
      <div class="input-group">
        <input 
          type="text"
          placeholder="Cidade"
          formControlName="city"
        />
        <input 
          type="text"
          placeholder="UF"
          style="width: 80px"
          formControlName="uf"
        />
      </div>
      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>