<div class="register-container">
  <div class="content">
    <section>
      <img src="assets/logo.svg" alt="Logo">

      <h1>Cadastro</h1>
      <p>Faça seu cadastro, entre na plataforma e ajude pessoas a econtrarem os casos da sua ONG.</p>

      <a [routerLink]="['/']" class="back-link">
        <i-feather name="arrow-left" class="icone" style="height: 16px;"></i-feather>
        Já tenho cadastro
      </a>
    </section>

    <form [formGroup]="form" (ngSubmit)="handleRegister()">

      <app-text-input 
        [fc]="f.name" 
        type="text" 
        placeholder="Nome da ONG"
        [isInvalid]="submitted && f.name.invalid">
      </app-text-input>

      <app-text-input 
        [fc]="f.email" 
        type="email" 
        placeholder="E-mail"
        [isInvalid]="submitted && f.email.invalid">
      </app-text-input>

      <app-text-input 
        [fc]="f.whatsapp" 
        type="text" 
        placeholder="Whatsapp"
        [isInvalid]="submitted && f.whatsapp.invalid">
      </app-text-input>

      <div class="input-group">
        <app-text-input 
          [fc]="f.city" 
          type="text" 
          placeholder="Cidade"
          [isInvalid]="submitted && f.city.invalid">
        </app-text-input>
        
        <app-text-input 
          [fc]="f.uf" 
          type="text" 
          placeholder="UF"
          style="width: 80px;"
          [isInvalid]="submitted && f.uf.invalid">
        </app-text-input>

      </div>
      <app-submit-button
        text="Cadastrar">
      </app-submit-button>
    </form>
  </div>
</div>