:host {
  display: block;
}

.error {
  border-color: #e02041;
}

textarea {
  width: 100%;
  min-height: 140px;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  resize: none;
  line-height: 24px;
}