<div class="register-container">
  <div class="content">
    <section>
      <img [src]="logo" alt="Logo">

      <h1>Cadastro</h1>
      <p>Faça seu cadastro, entre na plataforma e ajude pessoas a econtrarem os casos da sua ONG.</p>

      <a [routerLink]="['/']" class="back-link">
        <i-feather name="arrow-left" class="icone" style="color: #e02041; height: 16px;"></i-feather>
        Já tenho cadastro
      </a>
    </section>

    <form (subtmit)="handleRegister()">
      <input 
        type="text"
        placeholder="Nome da ONG"
        (input)="formFields.name = nameInput.value"
        #nameInput
      />
      <input 
        type="text"
        placeholder="E-mail"
        (input)="formFields.email = emailInput.value"
        #emailInput
      />
      <input 
        type="text"
        placeholder="Whatsapp"
        (input)="formFields.whatsapp = whatsappInput.value"
        #whatsappInput
      />
      <div class="input-group">
        <input 
          type="text"
          placeholder="Cidade"
          (input)="formFields.city = cityInput.value"
          #cityInput
        />
        <input 
          type="text"
          placeholder="UF"
          style="width: 80px"
          (input)="formFields.uf = ufInput.value"
          #ufInput
        />
      </div>
      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</div>